.button-wrap__content {
  font-size: 1vw;
  font-family: "OpenSans-Regular";
  white-space: nowrap;
}

.button-wrap {
  display: flex;
  align-items: center;
}

@media (max-width: 320px) {
  .button-wrap__content {
    font-size: 3vw;
  }
}

@media (min-width: 321px) and (max-width: 414px) {
  .button-wrap__content {
    font-size: 2.2vw;
  }
}

@media (min-width: 415px) and (max-width: 768px) {
  .button-wrap__content {
    font-size: 1.5vw;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .button-wrap__content {
    font-size: 2.5vw;
  }
}
