:root {
  --color: #071e3d;
  --size: 1vw;
}

.menu {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  padding: 0.8vw;
}

.menu__icon {
  width: 2.2vw;
  flex: 1;
}

.menu__icon-ico {
  font-size: 2vw;
  color: var(--color);
}

.menu__content {
  flex: 2;
  font-size: var(--size);
  color: var(--color);
  font-family: "OpenSans-SemiBold";
}

.menu__content:hover {
  cursor: pointer;
}

.menu__content--active {
  color: #e2434b;
}

@media (min-width: 320px) and (max-width: 374px) {
  .menu__icon {
    width: 3.7vw;
  }

  .menu__icon-ico {
    font-size: 3.5vw;
  }

  .menu__content {
    flex: 3;
    font-size: 3vw;
  }
}

@media (min-width: 375px) and (max-width: 414px) {
  .menu__icon {
    width: 3.7vw;
  }

  .menu__icon-ico {
    font-size: 3.5vw;
  }

  .menu__content {
    flex: 3;
    font-size: 3.1vw;
  }
}

@media (min-width: 415px) and (max-width: 1024px) {
  .menu__icon {
    width: 3.7vw;
  }

  .menu__icon-ico {
    font-size: 3.5vw;
  }

  .menu__content {
    flex: 3;
    font-size: 3.2vw;
  }
}
