:root {
  --color: #071e3d;
}

.menu {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  padding: 1.25vw;
}

.menu__icon {
  width: 2.2vw;
}

.menu__icon-ico {
  font-size: 2vw;
  color: var(--color);
}

.menu__content {
  margin-left: 20%;
  font-size: 1vw;
  color: var(--color);
  font-family: "OpenSans-SemiBold";
}

.menu__content:hover {
  cursor: pointer;
}
