:root {
  --color: #071e3d;
  --size: 1vw;
}

.container {
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
}

.logo-content {
  font-family: "Nunito-Bold";
  color: var(--color);
  font-size: 1.5vw;
}

.main {
  display: flex;
  height: 75vh;
  padding: 0.5vw;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: var(--size);
  box-shadow: 4px 4px 18px -1px rgba(0, 0, 0, 0.75);
}

.main__menu {
  flex: 1;
  flex-direction: column;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: var(--size);
  border: 1px solid var(--color);
}

.main__content {
  flex: 2;
}

@media (min-width: 320px) and (max-width: 374px) {
  .logo-content {
    font-size: 4vw;
  }

  .main {
    height: 80vh;
    flex-direction: column;
  }

  .main__menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 375px) and (max-width: 414px) {
  .logo-content {
    font-size: 4vw;
  }

  .main {
    height: 75vh;
    flex-direction: column;
  }

  .main__menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 415px) and (max-width: 1024px) {
  .logo-content {
    font-size: 4vw;
  }

  .main {
    height: 80vh;
    flex-direction: column;
  }

  .main__menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
