:root {
  --font-size: 1vw;
  --font-color: #071e3d;
}

.container {
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
}

.logo-content {
  font-family: "Lato-Bold";
  color: var(--font-color);
  font-size: 1.5vw;
}

.main {
  display: flex;
  height: 75vh;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 10px;
  box-shadow: 4px 4px 18px -1px rgba(0, 0, 0, 0.75);
}

.main__menu {
  flex: 1;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right: 1px solid var(--font-color);
}

.main__content {
  flex: 2;
}

@media (min-width: 320px) and (max-width: 374px) {
  .logo-content {
    font-size: 4vw;
  }

  .main {
    height: 80vh;
    flex-direction: column;
  }
}

@media (min-width: 375px) and (max-width: 414px) {
  .logo-content {
    font-size: 4vw;
  }

  .main {
    height: 75vh;
    flex-direction: column;
  }
}

@media (min-width: 415px) and (max-width: 1024px) {
  .logo-content {
    font-size: 4vw;
  }

  .main {
    height: 80vh;
    flex-direction: column;
  }
}
