:root {
  --color: #071e3d;
  --size: 1vw;
}

.container {
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
}

.logo-content {
  font-family: "Nunito-Bold";
  color: var(--color);
  font-size: 1.5vw;
}

.main {
  display: flex;
  height: 75vh;
  padding: 0.5vw;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: var(--size);
  box-shadow: 4px 4px 18px -1px rgba(0, 0, 0, 0.75);
}

.main__menu {
  flex: 1;
  flex-direction: column;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: var(--size);
  border: 1px solid var(--color);
}

.main__content {
  flex: 2;
}

.justify-center {
  text-align: center;
}

.preview-btn {
  font-size: var(--size);
  font-family: "OpenSans-Regular";
}

@media (max-width: 1024px) {
  .logo-content {
    font-size: 4vw;
  }

  .main {
    position: relative;
    height: 80vh;
    flex-direction: column;
    padding: 2.5vw;
  }

  .main__nav {
    font-size: 5vw;
    color: var(--color);
    align-self: flex-end;
  }

  .main__menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: absolute;
    z-index: 1;
    background: linear-gradient(to right bottom, #fff, #fff);
  }

  .main__menu--visible {
    visibility: visible;
    animation: fadein ease 500ms;
  }

  .main__menu--hidden {
    visibility: hidden;
    animation: fadeout ease 500ms;
  }

  .main__content {
    flex: 1;
  }

  .preview-btn {
    font-size: 3vw;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
    margin-top: -15%;
  }
  to {
    opacity: 1;
    margin-bottom: 0;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
    margin-bottom: 0;
    visibility: visible;
  }
  to {
    opacity: 0;
    margin-top: -15%;
    visibility: hidden;
  }
}
