:root {
  --element-color: #f3f3f3;
}

.generic {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 0.5vw;
}

.generic__icon {
  display: flex;
  align-items: center;
  width: 1vw;
  height: 1vw;
  margin-right: 0.3vw;
}

.generic__icon-ico {
  width: 0.5vw;
  height: 0.5vw;
  border-radius: 50%;
  background-color: var(--element-color);
}

.generic__content {
  font-size: 0.8vw;
  color: var(--element-color);
  font-family: "Poppins-ExtraLight", sans-serif;
  white-space: nowrap;
}
