.language {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.language__shape-track {
  stroke: black;
  fill: none;
}

.language__shape-progress {
  fill: none;
  stroke: #f3f3f3;
  stroke-width: 3;
  transform: rotate(-90deg);
  transform-origin: center;
}

.language__flag {
  position: absolute;
  width: 1.2vw;
  height: 1.2vw;
}

@media (max-width: 414px) {
  .language__flag {
    width: 5vw;
    height: 5vw;
  }
}

@media (min-width: 415px) and (max-width: 768px) {
  .language__flag {
    width: 3vw;
    height: 3vw;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .language__flag {
    width: 2.2vw;
    height: 2.2vw;
  }
}
