:root {
  --width: 100vw;
  --height: 100vh;
  --size: 1vw;
  --roboto-light: "Roboto-Light";
  --primary-color: #f3f3f3;
}

.previewContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--width);
  height: var(--height);
  overflow: hidden;
}

.loadingContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--width);
  height: var(--height);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.previewSections {
  display: flex;
  flex-direction: row;
  width: var(--width);
  height: calc(var(--height) - 5vh);
}

.previewButtons {
  width: var(--width);
  height: calc(var(--height) - 95vh);
  padding: 0.2vw;
}

.justify-right {
  text-align: right;
}

.firstColumn {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #2d2d2d;
}

.secondColumn {
  flex: 3;
  background-color: var(--primary-color);
}

.firstColumn__item {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  flex: 1;
  padding: var(--size);
}

.firstColumn__item-photo {
  width: 10vw;
  height: 10vw;
  object-fit: cover;
  border: 2px solid var(--primary-color);
  align-self: center;
}

.firstColumn__item-span {
  font-size: var(--size);
  font-family: var(--roboto-light);
  border-top: 2px solid var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
  color: var(--primary-color);
  align-self: stretch;
  text-align: center;
}
