:root {
  --width: 100vw;
  --height: 100vh;
  --size: 1vw;
  --primary-color: #f3f3f3;
}

.previewContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--width);
  height: var(--height);
  overflow: hidden;
}

.loadingContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--width);
  height: var(--height);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.previewColumns {
  display: flex;
  flex-direction: row;
  width: var(--width);
  height: calc(var(--height) - 5vh);
}

.previewButtons {
  width: var(--width);
  height: calc(var(--height) - 95vh);
  padding: 0.2vw;
}

.justify-right {
  text-align: right;
}

.firstColumn {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #2d2d2d;
}

.secondColumn {
  flex: 3;
  background-color: var(--primary-color);
}

.firstColumn__section {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  flex: 1;
  padding: 0.5vw;
}

.firstColumn__section--noPhoto {
  padding: var(--size);
}

.firstColumn__section-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.firstColumn__section-list--competence {
  grid-template-columns: repeat(4, 1fr);
}

.firstColumn__section-photo {
  width: 11vw;
  height: 11vw;
  object-fit: cover;
  border: 2px solid var(--primary-color);
  align-self: center;
}

.firstColumn__section-photo--volume {
  width: 9vw;
  height: 9vw;
}

.firstColumn__section-span {
  font-size: 0.8vw;
  font-family: "Roboto-Regular";
  border-top: 2px solid var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
  color: var(--primary-color);
  align-self: stretch;
  text-align: center;
}
