:root {
  --width: 100vw;
  --height: 100vh;
  --size: 1vw;
  --primary-color: #f3f3f3;
  --secondary-color: #2d2d2d;
}

.previewContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--width);
  height: var(--height);
  overflow: hidden;
}

.loadingContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--width);
  height: var(--height);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.previewColumns {
  display: flex;
  flex-direction: row;
  width: var(--width);
  height: calc(var(--height) - 5vh);
}

.previewButtons {
  width: var(--width);
  height: calc(var(--height) - 95vh);
  padding: 0.2vw;
}

.justify-right {
  text-align: right;
}

.firstColumn {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: var(--secondary-color);
}

.secondColumn {
  flex: 2;
  background-color: var(--primary-color);
}

.section {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  flex: 1;
  padding: 0.5vw;
}

.section--nophoto {
  padding: var(--size);
}

.section__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.section__list--competence {
  grid-template-columns: repeat(4, 1fr);
}

.section__photo {
  width: 11vw;
  height: 11vw;
  object-fit: cover;
  border: 2px solid var(--primary-color);
  align-self: center;
}

.section__photo--volume {
  width: 9vw;
  height: 9vw;
}

.section__label {
  font-size: 0.8vw;
  font-family: "Poppins-Light", sans-serif;
  border-top: 2px solid var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
  align-self: stretch;
  text-align: center;
}

.section__label--firstcolumn {
  color: var(--primary-color);
}

.section__label--secondcolumn {
  color: var(--secondary-color);
}

.section__label--name {
  text-align: left;
  font-size: 3.5vw;
  font-family: "Poppins-Medium", sans-serif;
  padding-left: 3vw;
}

.section__label--jobposition {
  font-size: 1.5vw;
  font-family: "Poppins-Regular", sans-serif;
}
