:root {
  --size: 1vw;
  --font-color: #071e3d;
}

.formProject__label {
  font-size: var(--size);
  color: var(--font-color);
  font-family: "OpenSans-SemiBold";
}

.formProject__control {
  font-size: var(--size);
  color: var(--font-color);
  font-family: "OpenSans-Regular";
}

.formProject__group-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5vw;
  padding: 0.5vw;
}

.formProject__btn-wrapper {
  display: flex;
  align-self: flex-end;
  justify-content: flex-end;
}

.formProject__btn {
  margin-left: 1%;
  font-size: var(--size);
  font-family: var(--font-family);
}

.formProject__inputList {
  padding: var(--size);
}

@media (max-width: 414px) {
  .formProject__label {
    font-size: 3vw;
  }

  .formProject__control,
  .formProject__btn {
    font-size: 2.7vw;
  }
}

@media (min-width: 415px) and (max-width: 1024px) {
  .formProject__label,
  .formProject__control,
  .formProject__btn {
    font-size: 3vw;
  }
}
