:root {
  --font-size: 1vw;
  --color: #071e3d;
}

.space {
  height: 5vh;
}

.formPhoto__uploader {
  display: flex;
  flex-direction: row;
}

.formPhoto__uploader-uploader {
  flex: 4;
}

.formPhoto__uploader-delete {
  flex: 1;
  align-self: center;
  font-size: var(--font-size);
  color: var(--color);
}

.formPhoto__uploader-delete:hover {
  cursor: pointer;
  color: #e2434b;
}

.formPhoto__label {
  font-size: var(--font-size);
  font-family: "OpenSans-SemiBold";
  color: var(--color);
}

.preview {
  width: 20vw;
  height: 20vw;
  object-fit: cover;
  border: 1px solid var(--color);
}

.loading__content {
  font-size: var(--font-size);
  color: var(--color);
  font-family: "OpenSans-Regular";
}

@media (min-width: 320px) and (max-width: 374px) {
  .space {
    height: 1vh;
  }

  .formPhoto__label {
    font-size: 3.8vw;
  }

  .formPhoto__uploader-delete {
    font-size: 4vw;
  }

  .preview {
    width: 35vw;
    height: 35vw;
  }

  .loading__content {
    font-size: 3.5vw;
  }
}

@media (min-width: 375px) and (max-width: 414px) {
  .space {
    height: 3vh;
  }

  .formPhoto__label {
    font-size: 3.8vw;
  }

  .formPhoto__uploader-delete {
    font-size: 4vw;
  }

  .preview {
    width: 30vw;
    height: 30vw;
  }

  .loading__content {
    font-size: 3.5vw;
  }
}

@media (min-width: 415px) and (max-width: 1024px) {
  .space {
    height: 4vh;
  }

  .formPhoto__label {
    font-size: 3.3vw;
  }

  .formPhoto__uploader-delete {
    font-size: 4vw;
  }

  .preview {
    width: 25vw;
    height: 25vw;
  }

  .loading__content {
    font-size: 3.3vw;
  }
}
