:root {
  --font-size: 1vw;
  --color: #071e3d;
}

.space {
  height: 5vh;
}

.form__label {
  font-size: var(--font-size);
  font-family: "OpenSans-SemiBold";
  color: var(--color);
}

.preview {
  width: 20vw;
  height: 20vw;
  object-fit: cover;
  border: 1px solid var(--color);
}

.loading__content {
  font-size: var(--font-size);
  color: var(--color);
  font-family: "OpenSans-Regular";
}
