.diploma {
  display: flex;
  flex-direction: column;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  padding-left: 3vw;
  padding-right: 3vw;
}

.diploma__content {
  font-size: 0.6vw;
  font-family: "Poppins-Light", sans-serif;
  color: #2d2d2d;
  white-space: nowrap;
}

.diploma__content--degree {
  font-family: "Poppins-Medium", sans-serif;
}

.diploma__content--description {
  font-size: 0.5vw;
  text-align: justify;
  word-wrap: break-word;
  white-space: normal;
}
