:root {
  --font-size: 1vw;
  --font-color: #071e3d;
  --font-family: "OpenSans-Regular";
}

.formLanguage__group {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.formLanguage__group-wrap {
  flex-direction: column;
  flex: 4;
}

.formLanguage__label {
  font-size: var(--font-size);
  font-family: "OpenSans-SemiBold";
  color: var(--font-color);
}

.formLanguage__control,
.formLanguage__option {
  font-size: var(--font-size);
  font-family: var(--font-family);
  color: var(--font-color);
}

.formLanguage__btn {
  flex: 1;
  margin-left: 1%;
  font-size: var(--font-size);
  font-family: var(--font-family);
}
