:root {
  --element-color: #f3f3f3;
}

.contact {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 0.5vw;
}

.contact__icon {
  width: 1vw;
  height: 1vw;
  margin-right: 0.3vw;
}

.contact__icon-ico {
  display: block;
  font-size: 0.9vw;
  color: var(--element-color);
}

.contact__content {
  font-size: 0.8vw;
  color: var(--element-color);
  font-family: "Poppins-ExtraLight", sans-serif;
  white-space: nowrap;
}

@media (max-width: 320px) {
  .contact__icon {
    width: 2vw;
    height: 2vw;
  }

  .contact__icon-ico {
    font-size: 1.9vw;
  }

  .contact__content {
    font-size: 2vw;
  }
}

@media (min-width: 321px) and (max-width: 414px) {
  .contact__icon {
    width: 2vw;
    height: 2vw;
  }

  .contact__icon-ico {
    font-size: 1.9vw;
  }

  .contact__content {
    font-size: 1.8vw;
  }
}

@media (min-width: 415px) and (max-width: 768px) {
  .contact__icon {
    width: 2vw;
    height: 2vw;
  }

  .contact__icon-ico {
    font-size: 1.9vw;
  }

  .contact__content {
    font-size: 1.6vw;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .contact__icon {
    width: 2vw;
    height: 2vw;
  }

  .contact__icon-ico {
    font-size: 1.8vw;
  }

  .contact__content {
    font-size: 1.5vw;
  }
}
