:root {
  --element-color: #f3f3f3;
}

.contact {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  padding: 0.5vw;
}

.contact__icon {
  width: 1.3vw;
}

.contact__icon-ico {
  font-size: 0.8;
  color: var(--element-color);
}

.contact__content {
  font-size: 0.8vw;
  color: var(--element-color);
  font-family: "Roboto-Light";
  white-space: nowrap;
}
