:root {
  --element-color: #f3f3f3;
}

.contact {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 0.5vw;
}

.contact__icon {
  width: 1vw;
  height: 1vw;
  margin-right: 0.5vw;
}

.contact__icon-ico {
  display: block;
  font-size: 0.9vw;
  color: var(--element-color);
}

.contact__content {
  font-size: 0.8vw;
  color: var(--element-color);
  font-family: "Poppins-ExtraLight";
  white-space: nowrap;
}
