.formDiploma {
  display: grid;
  padding: 1vw;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5vw;
}

.formDiploma__control-wrap {
  display: flex;
  flex-direction: row;
}

.formDiploma__btn-space {
  height: 2vh;
}
