:root {
  --size: 1vw;
  --font-color: #071e3d;
  --font-family: "OpenSans-Regular";
}

.formDiploma {
  display: grid;
  padding: var(--size);
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5vw;
}

.formDiploma__label {
  font-size: var(--size);
  font-family: "OpenSans-SemiBold";
  color: var(--font-color);
}

.formDiploma__option,
.formDiploma__control,
.formDiploma__checkbox {
  font-size: var(--size);
  font-family: var(--font-family);
  color: var(--font-color);
}

.formDiploma__btn-wrapper {
  text-align: right;
}

.formDiploma__btn {
  font-size: var(--size);
  font-family: var(--font-family);
  margin-left: 1%;
}

.formDiploma__control-wrap {
  display: flex;
  flex-direction: row;
}

.formDiploma__btn-space {
  height: 2vh;
}

.formDiploma__inputList {
  padding: var(--size);
}

@media (max-width: 414px) {
  .formDiploma__label {
    font-size: 3vw;
  }

  .formDiploma__control {
    font-size: 2.7vw;
    padding: 1vw;
  }

  .formDiploma__checkbox,
  .formDiploma__btn {
    font-size: 2.7vw;
  }
}

@media (min-width: 415px) and (max-width: 1024px) {
  .formDiploma__label,
  .formDiploma__control,
  .formDiploma__checkbox,
  .formDiploma__btn {
    font-size: 3vw;
  }
}
