:root {
  --size: 1vw;
}

.formDiploma {
  display: grid;
  padding: var(--size);
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5vw;
}

.formDiploma__control-wrap {
  display: flex;
  flex-direction: row;
}

.formDiploma__btn-space {
  height: 2vh;
}

.formDiploma__inputList {
  padding: var(--size);
}
