:root {
  --size: 1vw;
  --color: #071e3d;
}

.formContact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5vw;
  padding: var(--size);
}

.formContact__label {
  font-size: var(--size);
  color: var(--color);
  font-family: "OpenSans-SemiBold";
}

.formContact__control {
  font-size: var(--size);
  color: var(--color);
  font-family: "OpenSans-Regular";
}
